.containerForm {
  background-color: #222280;
  border: solid 2px white;
  border-radius: 5px;
  height: 250px;
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

.container {
  background-color: #222280;
  width: 500px;
  margin: 100px auto;
  box-shadow: 0 0 10px;
}

.TuDescripcion {
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 5px;
}

.footer {
  margin-top: 100vh;
  background-color: #222280;
  padding: 10px;
}

.parrafoF {
  text-align: center;
}

.footerContact {
  margin-bottom: 10px;
}

.footerContact a {
  color: aqua;
  font-size: 14px;
}

.footerContact * {
  text-align: center;
  display: block;
}
